@-ms-viewport{
    width: device-width;
  }
  body{
      /* background-color: rgb(7, 40, 83); */
      background-image: url("../imagens/fundo.jpg"); /* https://pixabay.com/pt/photos/c%C3%A9u-nuvens-atmosfera-ar-oxig%C3%AAnio-1441936/ */
      background-size: cover;
      font-family: "Serif";
      color: #FFF;
  }
  img,
  picture,
  video,
  embed,
  iframe,
  object {
     max-width: 100%;
  }
  *, *:before, *:after {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

div.container{
    background: rgb(54, 57, 63, 0.7);
    display: flex;
    flex: 1;
    flex-direction: column;
  align-items: center;
  justify-content: center;
    width: 40vw;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgb(54, 57, 63, 0.5), 0 1px 2px 
}

div.button {
    margin-top: 10px;
}

.button {
    border: none;
    padding: 2vh 5vw;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1em;
    cursor:pointer;
}

button.link {
  background: none!important;
  border: none;
  padding: 0!important;
  cursor: pointer;
}

#titulo {
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    display: block;
    font-size: 1.1em;
}

button.btn-submit {
    background-color: #677BC4;
    color: white;
}

div#inserir {
    width: 30vw;
    display: flex;
    margin-top: 20px;
    align-self: center;
    justify-content: center;
}

div#listar {
    width: 30vw;
    display: none;
    margin-top: 20px;
    align-self: center;
    justify-content: center;
}

div#login {
    width: 30vw;
    display: flex;
    margin: auto;
    align-items: center;
    align-self: center;
    justify-content: center;
}

th, td {
    padding: 20px;
}

img.tableIcon {
    width: 50px;
    height: 50px;
    cursor:pointer;
}

div.formRow {
    display: flex;
    margin: 20px;
    flex-direction: column;
    align-items: center;
}

div.sameRow {
    display: flex;
    flex-direction: row;
}

.label {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    margin-bottom: 10px;
}

input {
    width: 12vw;
    border: none;
    border-bottom: 2px solid rgb(152, 171, 240);
    background: transparent;
    color: #FFF;
    font-size: 1.1em;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}

input[type='checkbox'] {
    width: 2vw;
}

input:focus {
    outline: none;
    border-bottom: 2px solid #7289DA;
}

:invalid {
    box-shadow: none;
}
  
:-moz-submit-invalid {
    box-shadow: none;
}
  
:-moz-ui-invalid {
    box-shadow: none;
}

div#mensagem {
  display: none;
  flex: 0 0 auto;
  width: 100%;
  background-color: #0d91de;
  color: #FFF;
  text-align: center;
}

span.mensagem { 
    font-size: 1.5em;
}

.showPassword {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

