@-ms-viewport{
    width: device-width;
  }
  body{
      background-color: #1F1F1F;
      font-family: "Serif";
      color: #FFF;
  }
  img,
  picture,
  video,
  embed,
  iframe,
  object {
     max-width: 100%;
  }
  *, *:before, *:after {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

div.container{
    display: flex;
    flex: 1;
    flex-direction: column;
}

div.button {
    margin-top: 10px;
}

.button {
    border: none;
    padding: 14px 40px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1em;
    cursor:pointer;
}

button.btn-inserir {
    background-color: #FF0000; 
    color: white;
}

button.btn-listar {
    background-color: #e0690d;
    color: white;
}

button.btn-submit {
    background-color: #0d91de;
    color: white;
}

div#inserir {
    width: 30%;
    display: flex;
    margin-top: 20px;
    align-self: center;
    justify-content: center;
}

div#listar {
    width: 30%;
    display: none;
    margin-top: 20px;
    align-self: center;
    justify-content: center;
}

table, th, td {
    border: 1px solid #FFF;
    padding: 10px;
}

table {
    border-collapse: collapse;
}

img.tableIcon {
    width: 50px;
    height: 50px;
    cursor:pointer;
}

div.formRow {
    display: flex;
    margin: 15px;
    flex-direction: column;
}

div.sameRow {
    display: flex;
    flex-direction: row;
}

.label {
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    margin-bottom: 10px;
}

.extraSpace {
    margin-bottom: 10px;
}

input {
    border: none;
    border-bottom: 2px solid #9fd5f5;
    background-color: #1F1F1F;
    color: #FFF;
    font-size: 1.1em;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out
}

input:focus {
    outline: none;
    border-bottom: 2px solid #0d91de;
}

div#mensagem {
  display: none;
  flex: 0 0 auto;
  width: 100%;
  background-color: #0d91de;
  color: #FFF;
  text-align: center;
}

span.mensagem { 
    font-size: 1.5em;
}